@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;

.slider {
  flex: 0 0 295px;
  width: 295px;
  min-height: 220px;
  overflow: hidden;

  @include bp-1279 {
    flex: 0 0 194px;
    width: 194px;
  }

  @include bp-1023 {
    flex: 0 0 340px;
    width: 340px;
    height: 170px;
  }

  @include bp-743 {
    flex: 0 0 154px;
    width: 156px;
    height: 140px;
  }

  @include bp-479 {
    flex: 0 0 288px;
    width: 288px;
    height: 170px;
  }

  &__bullets {
    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: 10;
    width: 100%;
    text-align: center;
    transition: 0.3s opacity;
    transform: translate3d(0, 0, 0);
  }

  &__bullet {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 2px;
    background-color: $neutral-0;
    border-radius: 50%;
    opacity: 1;

    &--active {
      width: 6px;
      height: 6px;
    }
  }

  &__image {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 220px;
  }
}
