@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.item {
  padding: 0 0 0 40px;
  border-bottom: 2px solid $neutral-50;

  @include bp-479 {
    padding: 0 0 0 16px;
  }

  &:first-child {
    border-top: 2px solid $neutral-50;
  }

  &-title {
    @include subtitle-2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 22px 0;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: 0;

    @include bp-1279 {
      max-width: 100%;
    }

    @include bp-359 {
      width: 95%;
    }

    &__closed-btn {
      position: relative;
      width: 32px;
      height: 32px;
      border-radius: 8px;

      &::before {
        position: absolute;
        top: 6px;
        right: 6px;
        width: 20px;
        height: 20px;
        content: '';
        background-image: url('/images/owners/cross.svg');
        background-repeat: no-repeat;
      }
    }

    &:hover &__closed-btn,
    &:focus &__closed-btn {
      background-color: $iris-100;
    }

    &.active
    &__closed-btn::before {
      transition: transform 0.35s ease-in-out;
      transform: rotate(45deg);
    }
  }

  &-p {
    max-width: 90%;
    text-align: left;
    @include bp-359 {
      max-width: 88%;
      text-align: left;
    }
  }

  &-description {
    @include body-4;
    width: 90%;
    padding: 0 0 32px;
    color: $gray-blue-400;
  }

  &-description-open {
    animation: collapse-faq 0.35s ease-in-out both;
  }

  &-description-closed {
    animation: collapse-faq-closed 0.35s ease-in-out both;
  }

  &-container {
    overflow: hidden;
    transition: height 0.35s ease-in-out;
  }
}

@keyframes collapse-faq {
  0% {
    transform: scale(0.5);
    transform-origin: 0% 0%;
  }

  100% {
    transform: scale(1);
    transform-origin: 0% 0%;
  }
}
@keyframes collapse-faq-closed {
  0% {
    transform: scale(1);
    transform-origin: 0% 0%;
  }

  100% {
    transform: scale(0.5);
    transform-origin: 0% 0%;
  }
}
