.button {
  @include body-semi-bold-16;
  width: 210px;
  height: 100%;
  padding: 20px 30px;
  color: $neutral-0;
  background: $iris-500;
  border: 2px solid transparent;
  border-radius: 35px 0 0 35px;
  outline: none;
  transition: border 100ms ease-in;

  @include bp-929 {
    display: none;
  }

  &:focus,
  &:hover {
    color: $neutral-0;
    border: 2px solid $neutral-0;
    box-shadow: 0 0 20px rgba(41, 43, 51, 0.25);

    @include bp-1059 {
      width: 210px;
      padding: 20px 25px 20px 35px;
      border-radius: 30px 0 0 30px;
    }
  }

  &:active {
    color: $iris-200;
    border: 2px solid transparent;
    box-shadow: none;
  }
}
