.document {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto -141px;

  @include bp-1059 {
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
  }

  &__page {
    max-width: 688px;
    margin: 56px 140px 141px 0;

    @include bp-1279 {
      margin: 56px 42px 141px 0;
    }

    @include bp-1059 {
      max-width: 735px;
      margin: 24px auto 0;
    }

    @include bp-767 {
      margin: 24px 16px 0;
    }

    @include bp-359 {
      max-width: 89%;
      margin: 11px auto 0;
    }
  }

  &__heading {
    margin: 0 0 24px;
    font-size: 36px;
    font-weight: 600;
    line-height: 130%;
    color: $gray-blue-500;

    @include bp-1059 {
      margin: 0 0 32px;
      font-size: 28px;
      font-weight: 500;
    }

    @include bp-359 {
      margin: 0 0 16px;
    }
  }

  &__text-date {
    margin: 0 0 48px;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    color: $gray-blue-300;

    @include bp-1059 {
      margin: 0 0 32px;
    }
  }

  &__list {
    padding: 0;
    list-style: none;
    counter-reset: count;
  }

  &__title {
    margin: 0 0 12px;
    font-size: 20px;
    font-weight: 600;
    line-height: 31px;

    @include bp-399 {
      font-size: 16px;
      font-weight: 700;
      line-height: 22px;
    }

    &::before {
      font-size: 20px;
      font-weight: 600;
      line-height: 26px;
      content: counters(count, '.') '.';
      counter-increment: count;

      @include bp-399 {
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
      }
    }
  }

  &__text {
    margin: 12px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 31px;
    color: $gray-blue-500;

    @include bp-399 {
      font-size: 16px;
      line-height: 25px;
    }
  }

  &__list-2 {
    padding: 0;
    list-style: none;
    counter-reset: count;
  }

  &__item-2 {
    @include subtitle-bold-14;
    margin: 0 0 12px;

    @include bp-399 {
      font-size: 16px;
      line-height: 25px;
    }

    &::before {
      margin: 0 5px 0 0;
      content: counters(count, '.') '.';
      counter-increment: count;
    }
  }

  &__list-3 {
    padding: 0;
    margin: 12px 0 0;
    list-style: none;
    counter-reset: count;
  }

  &__item-3 {
    @include body-medium-14;

    &::before {
      content: counters(count, '.') '.' ' ';
      counter-increment: count;
    }

    &:not(:last-child) {
      margin: 0 0 12px;
    }
  }

  &__btn-modal {
    padding: 0;
    color: $iris-500;
    cursor: pointer;
    background-color: transparent;
    border: 0;
  }
}

.modal {
  &__header {
    border-bottom: 2px solid $iris-50;

    @include bp-849 {
      align-items: flex-end;
      justify-content: center;
    }

    @include bp-767 {
      justify-content: flex-start;
    }
  }

  &__dialog {
    width: 688px;
    padding: 0 40px 90px;

    @include bp-849 {
      width: 100%;
      margin: 110px auto 0;
      border-radius: 16px 16px 0 0;
    }

    @include bp-767 {
      padding: 0 24px 90px;
      margin: 80px auto 0;
    }

    @include bp-479 {
      padding: 0 20px 60px;
    }
  }

  &__body {
    @include bp-849 {
      min-height: 740px;
    }
  }
}
