@use 'src/app/styles/core/colors' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.modal {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 4;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 100vh;
  background-color: $neutral-0;

  @include bp-743 {
    width: 400px;
  }
  @include bp-479 {
    width: 100%;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0 16px;
    border-radius: 8px 8px 0 0;
  }

  &__header--mobile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }

  &__body {
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
  }

  &__title {
    @include body-5;
    color: $gray-blue-300;
  }
}

.button-close {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  background-color: $neutral-0;
  border: 1px solid $neutral-900;
  border-radius: 8px;
  outline: 0;

  &:hover,
  &:active,
  &:focus {
    background-color: $neutral-0;
  }
}

.button-close--mobile {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  background-color: $neutral-0;
  border: 0;
  outline: 0;

  &:hover,
  &:active,
  &:focus {
    background-color: $neutral-0;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  background-color: $neutral-900;
  opacity: 0;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transition-property: visibility, opacity;

  &--visible {
    visibility: visible;
    opacity: 0.2;
  }
}

// CSSTransition

.enter {
  transform: translate(100%);
}

.enter-active {
  transition: transform 300ms ease-in-out;
  transform: translate(0%);
}

.exit {
  transform: translate(0%);
}

.exit-active {
  transition: transform 300ms ease-in-out;
  transform: translate(100%);
}

// BottomSheet

.bottom-sheet {
  [data-rsbs-header] {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0 8px;
    text-align: center;
    cursor: auto;
    user-select: none;
    box-shadow: none;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 40px;
      height: 3px;
      content: '';
      background: $gray-blue-200;
      border-radius: 4px;
      transform: translate(-50%, -50%);
    }
  }
}
