.container {
  position: relative;
  width: 100%;
}

.input-hidden {
  position: absolute;
  outline: none;
  opacity: 0;
}

.route {
  position: absolute;
  top: 3px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  width: 28%;
  padding: 0 20px;
}

.img-route {
  cursor: pointer;
  fill: $gray-blue-200;

  &:not(:last-child) {
    margin: 0 5px 0 0;
  }
}

.input-hidden:checked + .img-route {
  fill: $iris-500;
}

.react-select {
  margin: 1rem;
  position: absolute;

  width: 10rem;
}


.react-select__menu-list {
  background-color: blue;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.react-select__option {
  color: red;
  flex-direction: column;
}
