
.calculation-select {
  background-color: transparent !important;
  &__menu {
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
  }

  &__option {
    color: lightblue;
    background-color: transparent !important;


    &--is-focused {
      background-color: transparent !important;
    }

    &:focus,
    &:hover  {
      background-color: transparent !important;
  }
}


  &__input {
    background-color: transparent !important;
  }

  &__value-container {
    background-color: transparent !important;
  }

  &__single-value {
    background-color: transparent !important;
    color: #7F8085 !important;
  }


  &__menu-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: transparent;
  }
}
