.container {
  position: relative;
  width: 100%;
}

.dropdown {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: $gray-blue-300;
}

.arrow {
  display: block;
  width: 18px;
  height: 18px;
  margin-left: 18px;
  background: url('/images/owners/dropdown.svg') center center no-repeat transparent;
  background-size: contain;
}

.arrow-vice-versa {
  display: block;
  width: 18px;
  height: 18px;
  margin-left: 18px;
  background: url('/images/owners/dropdown.svg') center center no-repeat transparent;
  background-size: contain;
  transform: rotate(180deg);
}

.input-hidden {
  position: absolute;
  outline: none;
  opacity: 0;
}

.route {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  width: 28%;
  padding: 0 20px;
}

.img-route {
  cursor: pointer;
  fill: $gray-blue-200;

  &:not(:last-child) {
    margin: 0 5px 0 0;
  }
}

.input-hidden:checked + .img-route {
  fill: $iris-500;
}
