@use 'src/app/styles/core/colors' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.description {
  display: grid;
  grid-template-areas:
    'a a c'
    'b b c'
    '. . d';
  max-width: 753px;
  padding: 20px;
  background-color: $neutral-0;

  @include bp-479 {
    grid-template-areas:
      'a a c'
      'b b b'
      '. . d';
    padding-top: 0;
    padding-right: 0;
  }

  &__heading {
    @include  headline-5;
    grid-area: a;
    padding-bottom: 10px;
    color: $orange-a500;

    @include bp-479 {
      align-self: end;
    }
  }

  &__text {
    @include  body-5;
    grid-area: b;
    height: 100%;
    color: $gray-blue-600;

    @include bp-479 {
      padding-right: 20px;
    }
  }

  &__text_visible {
    display: (-webkit-box);
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  &__key {
    position: absolute;
    top: 6px;
    right: -2px;

    @include bp-479 {
      top: 3px;
      right: -1px;
    }

    &__circle {
      position: relative;
      grid-area: c;
      justify-self: end;
      width: 58px;
      height: 58px;
      margin: 16px;
      background-color: $iris-100;
      border-radius: 50%;

      @include bp-479 {
        width: 45px;
        height: 45px;
        margin: 12px;
      }
    }
  }

  &__btn {
    @include  body-6;
    display: flex;
    grid-area: d;
    align-items: center;
    justify-content: center;
    justify-self: end;
    width: 107px;
    height: 32px;
    color: $neutral-900;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: none;

    @include bp-479 {
      margin-right: 20px;
    }

    &__icon {
      width: 16px;
      height: 16px;
      margin-left: 2px;
    }
  }
}
