@use 'src/app/styles/core/colors' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.footer {
  padding: 30px 0 0;
  background-color: $iris-50;

  @include bp-1279 {
    padding: 20px 0 0;
  }

  @include bp-1023 {
    padding: 30px 0 0;
  }

  @include bp-479 {
    padding: 40px 0 0;
  }

  &__inner {
    margin: 0 auto 30px;

    @include bp-1279 {
      margin: 0 auto 20px;
    }

    @include bp-1023 {
      margin: 0 auto 30px;
    }

    @include bp-743 {
      flex-direction: column;
    }
  }

  &__box {
    width: 797px;

    @include bp-1279 {
      width: 717px;
    }

    @include bp-1023 {
      width: 443px;
    }

    @include bp-743 {
      margin: 0 0 30px;
    }

    @include bp-479 {
      flex-direction: column;
      width: unset;
      max-width: 289px;
      min-height: 204px;
      margin: 0 auto 30px;
      text-align: center;
    }
  }

  &__title-socials {
    @include body-4;
    margin: 0 0 10px;
    color: $iris-900;

    @include bp-1023 {
      margin: 0 0 20px;
    }
  }

  &__list-socials {
    min-height: 25px;

    @include bp-479 {
      justify-content: center;
    }
  }

  &__btn-group {
    flex-direction: column;
    min-height: 90px;

    @include bp-743 {
      flex-direction: row;
      min-height: unset;
    }

    @include bp-479 {
      flex-direction: column;
      align-items: center;
      min-height: 98px;
    }
  }

  &__btn {
    width: 186px;

    @include bp-1279 {
      width: 156px;
    }

    @include bp-1023 {
      width: 228px;
    }

    @include bp-743 {
      width: 212px;
    }

    @include bp-479 {
      width: 288px;
    }
  }

  &__address {
    background-color: $iris-900;

    &-inner {
      @include body-6;
      min-height: 23px;
      color: $neutral-0;

      @include bp-743 {
        flex-direction: column;
        min-height: 54px;
        padding: 10px 0;
      }

      @include bp-479 {
        min-height: 69px;
        padding: 10px 16px;
        text-align: center;
      }
    }
  }
}
