@use '../core/breakpoints' as *;
@use '../core/colors' as *;
@use '../core/typography' as *;

html,
body {
  color: $gray-blue-500;
}

a {
  color: $gray-blue-500;
  text-decoration: none;

  &:hover {
    color: $iris-700;
  }

  &:focus {
    color: $iris-700;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  width: 1276px;
  margin: 0 auto;

  @include bp-1439 {
    width: 89%;
  }

  @include bp-1279 {
    width: 92%;
  }

  @include bp-929 {
    width: 89%;
  }

  @include bp-699 {
    width: 90%;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-s-b {
  display: flex;
  justify-content: space-between;
}

.flex-s-b-c {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}
