.main {
  padding: 28px 0 0;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // grid-auto-flow: row dense;
  grid-gap: 16px 12px;
  justify-items: center;
  max-width: max-content;
  margin: 0 auto 20px;

  @include bp-1200 {
    grid-template-columns: repeat(3, 1fr);
  }

  @include bp-768 {
    grid-template-columns: repeat(2, 1fr);
  }

  @include bp-600 {
    grid-template-columns: 1fr;
  }

  &__baner {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column: span 4;
    width: 100%;
    height: 100px;
    background-color: $gray-blue-50;

    @include bp-1200 {
      grid-column: span 3;
    }

    @include bp-768 {
      grid-column: span 2;
    }

    @include bp-600 {
      grid-column: span 1;
    }
  }
}
