.container {
  max-width: 1200px;
  margin: 0 auto;

  @include bp-1239 {
    max-width: 944px;
  }

  @include bp-1023 {
    max-width: 736px;
  }

  @include bp-767 {
    max-width: 536px;
  }

  @include bp-567 {
    max-width: 288px;
  }
}
