.container {
  max-width: 1200px;
  margin: 0 auto;

  @include bp-1200 {
    max-width: 1000px;
  }

  @include bp-1000 {
    max-width: 768px;
  }

  @include bp-768 {
    max-width: 600px;
  }

  @include bp-600 {
    max-width: 480px;
  }

  @include bp-320 {
    max-width: 300px;
  }
}
