.title-container {
  @include headline-5;
  margin-bottom: 19px;
}

.item-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 14px 36px 14px 12px;
  text-align: left;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid $neutral-50;

  &:first-child {
    border-top: 2px solid $neutral-50;
  }

  &::after {
    position: absolute;
    width: 10px;
    height: 20px;
    margin-left: calc(100% - 35px);
    content: '';
    background-image: url('/images/docs/agreements-arrow.svg');
    background-repeat: no-repeat;
  }

  &:hover ::after {
    position: absolute;
    width: 21px;
    height: 20px;
    margin-left: calc(100% - 42px);
    content: '';
    background-color: rgba($iris-500, 0.2);
    border-radius: 100%;
  }

  &__link {
    @include body-4;

    &:focus::after {
      position: absolute;
      width: 21px;
      height: 20px;
      margin-left: calc(100% - 42px);
      color: $iris-700;
      content: '';
      background-color: rgba($iris-500, 0.2);
      border-radius: 100%;
    }
  }
}
