@use '../../../../styles/core/colors' as *;
@use '../../../../styles/core/typography'as *;
@use '../../../../styles/core/breakpoints' as *;
.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 318px;
  max-height: 260px;
  margin-top: 62px;
}
.item {
  display: flex;
  flex-wrap: wrap;
  font-family: Montserrat;
  color: $gray-blue-300;
  @include body-medium-14;
  max-width: 195px;
  margin-bottom: 24px;
  &:hover {
    color: $gray-blue-300;
  }
}

.active {
  @include body-medium-14;
  color: $iris-500;
}

.border {
  display: flex;
  justify-content: center;
  margin-left: -100px;
  width: 318px;
  height: 1018px;
  border-right: 2px solid $neutral-50;
}
