.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 318px;
  max-height: 260px;
  padding-right: 36px;
}

.item {
  @include body-medium-14;
  display: flex;
  flex-wrap: wrap;
  max-width: 195px;
  margin-bottom: 24px;
  color: $gray-blue-300;
}

.border {
  display: flex;
  justify-content: center;
  height: 1018px;
  padding-top: 62px;
  border-right: 2px solid $neutral-50;
}
