.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
}

.preloader {
  position: absolute;
  width: 80px;
  height: 80px;
  background-image: url('/images/preloader/backgraund-r-80.svg');
  background-repeat: no-repeat;
  animation: pulsing  2.2s infinite;
  animation-delay: 200ms;
}

.preloader-r {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url('/images/preloader/R.svg');
}

@keyframes pulsing {
  0% {
    transform: scale(0.7);
  }

  30% {
    transform: scale(0.7);
  }

  35% {
    transform: rotate(-45deg);
  }

  50% {
    transform: scale(1);
  }

  80% {
    transform: scale(1);
  }

  85% {
    transform: rotate(45deg);
  }

  100% {
    transform: scale(0.7);
  }
}
