$neutral-0: #fff; //в коде $white
$neutral-05: #fafafa; //в коде $white
$neutral-50: #ebebeb; //в коде $dark-grey-10
$neutral-900: #000;

$gray-blue-50: #f0f3f8; //в коде $secondary-3
$gray-blue-100: #d9dadd; //в коде $dark-grey-20
$gray-blue-200: #b3b5bb; //в коде $neutral-grey
$gray-blue-300: #8c909a; //в коде $dark-grey-60
$gray-blue-400: #666b78; //в коде $dark-grey
$gray-blue-500: #404656; //в коде $dark
$gray-blue-600: #2d2f39; //в коде $dark

$iris-50: #efeffd; //в коде $iris-10
$iris-100: #dfdffc; //в коде $iris-20
$iris-200: #bebff9; //в коде $iris-40
$iris-300: #9e9ff5;
$iris-400: #7d7ff2; //в коде $medium-blue
$iris-500: #6f57eb; //в коде $blue
$iris-700: #553db5; //в коде $dark-violet
$iris-900: #392b58; //в коде $dark-violet

$pink-50: #fcddec; //в коде $fuschia-60
$pink-300: #f178b6; //в коде $fuschia-80
$pink-400: #ef5da8; //в коде $fuschia-100
$pink-a700: #fe4874; //в коде $pink

$green-50: #ebfeff; //в коде $azure
$green-200: #9aced5; //в коде $turquoise
$green-400: #3f888e; //в коде $turquoise
$green-500: #35b4b9; //в коде $turquoise
$green-900: #004642; //в коде $turquoise

$orange-30: #fff6ea; //в коде $secondary-4
$orange-50: #ffeddc; //в коде $secondary-4
$orange-70: #ffdfd2; //в коде $secondary-4
$orange-300: #ffb89d; //в коде $orange
$orange-500: #ff5c00; //в коде $orange
$orange-a500: #ff6b3d; //в коде $orange

$overlay-a05: rgba($gray-blue-500, 0.5);
