$font-family-primary: 'TTTravelsNext-XBd', 'Montserrat', sans-serif;
$font-family-secondary: 'TTTravelsNext-Md', 'Montserrat', sans-serif;

@mixin headline-1 {
  font-family: $font-family-primary;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 70px;
}

@mixin headline-2 {
  font-family: $font-family-primary;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 53px;
}

@mixin headline-3 {
  font-family: $font-family-primary;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
}

@mixin headline-4 {
  font-family: $font-family-primary;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 29px;
}

@mixin headline-5 {
  font-family: $font-family-primary;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 23px;
}

@mixin subtitle-1 {
  font-family: $font-family-primary;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
}

@mixin subtitle-2 {
  font-family: $font-family-primary;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
}

@mixin subtitle-3 {
  font-family: $font-family-primary;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: 17px;
}

@mixin subtitle-4 {
  font-family: $font-family-primary;
  font-size: 10px;
  font-style: normal;
  font-weight: 800;
  line-height: 14px;
}

@mixin body-1 {
  font-family: $font-family-secondary;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
}

@mixin body-2 {
  font-family: $font-family-secondary;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}

@mixin body-3 {
  font-family: $font-family-secondary;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

@mixin body-4 {
  font-family: $font-family-secondary;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

@mixin body-5 {
  font-family: $font-family-secondary;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

@mixin body-6 {
  font-family: $font-family-secondary;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
}
