@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.modal {
  &__title {
    @include subtitle-2;
    padding: 0 0 22px;
    border-bottom: 2px solid $iris-50;
  }

  &__list {
    border-bottom: 2px solid $iris-50;
  }

  &__item-title {
    @include subtitle-3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    min-height: 41px;

    @include bp-479 {
      grid-template-columns: 57% 43%;
    }
  }

  &__item {
    @include body-5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    min-height: 32px;

    @include bp-479 {
      grid-template-columns: 57% 43%;
    }

    &_color {
      background-color: $iris-50;
    }
  }

  &__cell-inner {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 8px;

    &:first-child {
      border-right: 2px solid $iris-100;
    }
  }
}
