.modal {
  &__header {
    border-bottom: 2px solid $iris-50;

    @include bp-849 {
      min-height: 40px;
    }
  }

  &__dialog {
    width: 688px;

    @include bp-849 {
      width: 100%;
      border-radius: 16px 16px 0 0;
    }
  }

  &__body {
    @include bp-849 {
      padding: 20px 40px 40px;
    }

    @include bp-743 {
      padding: 20px 24px 40px;
    }

    @include bp-479 {
      padding: 20px 20px 40px;
    }
  }

  &__content {
    padding: 60px 40px 40px;
    border-radius: 16px;

    @include bp-849 {
      padding: 0;
    }
  }

  &__position-content {
    height: 100%;
    border-radius: 16px 16px 0 0;
  }
}
