@mixin bp-1919 {
  @media (max-width: 1919px) {
    @content;
  }
}

@mixin bp-1439 {
  @media (max-width: 1439px) {
    @content;
  }
}

@mixin bp-1279 {
  @media (max-width: 1279px) {
    @content;
  }
}

@mixin bp-1199 {
  @media (max-width: 1199px) {
    @content;
  }
}

@mixin bp-1149 {
  @media (max-width: 1149px) {
    @content;
  }
}

@mixin bp-1059 {
  @media (max-width: 1059px) {
    @content;
  }
}

@mixin bp-929 {
  @media (max-width: 929px) {
    @content;
  }
}

@mixin bp-849 {
  @media (max-width: 849px) {
    @content;
  }
}

@mixin bp-767 {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin bp-699 {
  @media (max-width: 699px) {
    @content;
  }
}

@mixin bp-629 {
  @media (max-width: 629px) {
    @content;
  }
}

@mixin bp-549 {
  @media (max-width: 549px) {
    @content;
  }
}

@mixin bp-499 {
  @media (max-width: 499px) {
    @content;
  }
}

@mixin bp-479 {
  @media (max-width: 479px) {
    @content;
  }
}

@mixin bp-449 {
  @media (max-width: 449px) {
    @content;
  }
}

@mixin bp-399 {
  @media (max-width: 399px) {
    @content;
  }
}

@mixin bp-359 {
  @media (max-width: 359px) {
    @content;
  }
}

//Удалить когда будет прописана типографика ,в коде тоже все почистить
@mixin font($size, $height, $weight: 400) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
}
