.calculation-select {
  &__option {
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 20px !important;
    color: #a9acb4 !important;
    background-color: transparent !important;

    &--is-focused {
      color: #6f57eb !important;
      background-color: #dfdffc !important;
    }

    &--is-selected {
      color: #6f57eb !important;
    }
  }

  &__control {
    position: relative;
    margin-left: 10px !important;
    border: transparent !important;
    outline: none !important;
    box-shadow: none !important;
  }

  &__single-value {
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 22px !important;
    color: #7f8085 !important;
    outline: none !important;
  }

  &__dropdown-indicator {
    position: absolute;
    top: 11px;
    left: 102px;
    display: block;
    width: 18px;
    height: 18px;
    margin-left: 0;
    background: url('/images/owners/dropdown.svg') center center no-repeat transparent;
    background-size: contain;
    & > * {
      display: none;
    }
  }

  &__control--menu-is-open &__dropdown-indicator {
    display: block;
    width: 18px;
    height: 18px;
    margin-left: 0;
    background: url('/images/owners/dropdown.svg') center center no-repeat transparent;
    background-size: contain;
    transform: rotate(180deg);
    & > * {
      display: none;
    }
  }

  &__menu {
    padding-top: 35px;
    padding-bottom: 40px;
    border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
  }

  &__menu-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
  }
}
