//Карта цветов
//Новый вариант нейминга
$neutral-0: #fff; //в коде $white
$neutral-50: #ebebeb; //в коде $dark-grey-10
$neutral-900: #000;

$gray-blue-50: #f0f3f8; //в коде $secondary-3
$gray-blue-100: #d6dadf; //в коде $dark-grey-20
$gray-blue-200: #a9acb4; //в коде $neutral-grey
$gray-blue-300: #898b93; //в коде $dark-grey-60
$gray-blue-400: #54555c; //в коде $dark-grey
$gray-blue-500: #292b33; //в коде $dark

$iris-50: #efeffd; //в коде $iris-10
$iris-100: #dfdffc; //в коде $iris-20
$iris-200: #bebff9; //в коде $iris-40
$iris-300: #9e9ff5;
$iris-400: #7d7ff2; //в коде $medium-blue
$iris-500: #6f57eb; //в коде $blue
$iris-700: #652dac; //в коде $dark-violet

$pink-50: #fcddec; //в коде $fuschia-60
$pink-300: #f178b6; //в коде $fuschia-80
$pink-400: #ef5da8; //в коде $fuschia-100
$pink-a700: #ff34ae; //в коде $pink

$green-50: #ebfeff; //в коде $azure
$green-500: #35b4b9; //в коде $turquoise

$orange-50: #ffeddc; //в коде $secondary-4
$orange-500: #ff5c00; //в коде $orange

$overlay-a05: rgba($gray-blue-500, 0.5);

//Старый вариант нейминга
// $light-violet: #ede4ff; //????
// $medium-violet: #a87bff; //????
// // $dark-violet: #652dac;
// $light-grey: #F7F7F7; //????
// $grey: #909090; //????
// // $neutral-grey: #A9AAAD;
// // $dark-grey: #54555C;
// // $dark: #292b33;
// // $dark-grey-60: #7F8085;
// // $dark-grey-20: #D4D5D6;
// // $dark-grey-10: #EAEAEB;
// // $orange: #FF5C00;
// $light-orange: #f1d3c2; //????
// // $blue: #6F57EB;
// // $medium-blue: #7D7FF2;
// $lavender: #f0eefd; //????
// // $azure: #EBFEFF;
// // $turquoise: #35B4B9;
// // $secondary-3: #F0F3F8;
// // $secondary-4: #FFEDDC;
// $pearl-white: #E8E2D3; //????
// // $white: #FFFFFF;
// // $pink: #FF34F7;
// // $fuschia-100: #EF5DA8;
// // $fuschia-80: #F178B6;
// // $fuschia-60: #FCDDEC;
// // $iris-40: #BEBFF9;
// // $iris-10: #EFEFFD;
// // $iris-20: #DFDFFC;
