@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Prosto+One&display=swap');

$font-family-primary: 'Montserrat', sans-serif;
$font-family-secondary: 'Prosto One', cursive;

@mixin headline-regular-72 {
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 79px;
}

@mixin headline-regular-48 {
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 59px;
}

@mixin headline-regular-36 {
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 43px;
}

@mixin headline-regular-24 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
}

@mixin headline-regular-18 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

@mixin subtitle-bold-14 {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
}

@mixin subtitle-bold-12 {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
}

@mixin subtitle-semi-bold-18 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

@mixin body-semi-bold-16 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
}

@mixin body-medium-18 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

@mixin body-medium-16 {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

@mixin body-medium-14 {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

@mixin body-medium-12 {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

@mixin body-regular-24 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
}

@mixin body-regular-18 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

@mixin body-regular-16 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}

@mixin headline1 {
  @include headline-regular-72;
  font-family: $font-family-secondary;
}

@mixin headline2 {
  @include headline-regular-48;
  font-family: $font-family-secondary;
}

@mixin headline3 {
  @include headline-regular-36;
  font-family: $font-family-secondary;
}

@mixin headline4 {
  @include headline-regular-24;
  font-family: $font-family-secondary;
}

@mixin headline5 {
  @include headline-regular-18;
  font-family: $font-family-secondary;
}
