@use 'src/app/styles/core/colors' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.filter {
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
  background-color: $neutral-0;
  border-radius: 20px;

  &__section {
    display: flex;
    justify-content: space-between;

    > div {
      margin-right: 10px;
    }

    &:last-child {
      margin-top: 10px;
    }
  }

  &__other {
    display: flex;

    > * {
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__button-map {
    padding: 11px 44.5px;
    @include bp-1023 {
      padding: 8px;
    }

    span {
      margin-right: 10px;
      white-space: nowrap;
      @include bp-1023 {
        display: none;
      }
    }
  }

  &__button-filters,
  &__button-reset {
    padding: 13px 8px;
    @include bp-1023 {
      @include body-6;
      padding: 12px 8px;
    }

    span {
      margin-right: 2px;
      white-space: nowrap;
      @include bp-1023 {
        display: none;
      }
    }
  }

  &__button-search {
    padding: 11px 40px;
    @include bp-1023 {
      padding: 11px 21px;
    }
  }
}
