.wrapper-box {
  display: flex;
  flex-direction: column;
  width: 844px;
  max-height: 730px;
  margin: 24px 0 0 100px;
}

.wrapper-ul {
  width: 100%;
  max-height: max-content;
  border: 1px solid $neutral-50;
  border-right: hidden;
  border-left: hidden;

  &:first-child {
    border-top: 2px solid $neutral-50;
  }

  &:last-child {
    border-bottom: 2px solid $neutral-50;
  }
}

.item-title {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 70%;
  padding: 23px  0 23px 40px;
  transition: transform 0.5s ease-in-out;

  .item-text-title {
    @include body-medium-14;
  }
}

.wrapper-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item-description {
  width: 90%;
  height: 100%;
  padding: 0 40px 32px;
  transition: all 0.7s ease-in-out;
}

.hidden-item {
  width: 90%;
  height: 0;
  padding: 0 40px 32px;
  overflow: hidden;
  opacity: 0;
}

.item-button {
  position: absolute;
  top: 20px;
  left: 773px;
  cursor: pointer;
  transition: transform 0.7s ease-in-out;
}

.active {
  transform: rotate(-180deg);
}
