.footer {
  padding: 34px 0 0;

  @include bp-1059 {
    padding: 30px 0 0;
  }

  @include bp-929 {
    padding: 20px 0 0;
  }

  @include bp-699 {
    padding: 10px 0 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 36px;

    @include bp-1059 {
      margin: 0 auto 40px;
    }

    @include bp-929 {
      margin: 0 auto 20px;
    }

    @include bp-699 {
      flex-direction: column-reverse;
      align-items: center;
      width: 204px;
      margin: 0 auto 30px;
    }
  }

  &__list-document {
    @include bp-699 {
      flex-direction: column;
      text-align: center;
    }
  }

  &__item,
  &__link {
    @include font(14px, 18px, 500);
    color: $iris-500;

    @include bp-929 {
      @include font(12px, 16px, 500);
    }
  }

  &__item:not(:last-child) {
    margin: 0 0 12px;

    @include bp-699 {
      margin: 0 0 20px;
    }
  }

  &__list-socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 25px;

    @include bp-929 {
      align-items: flex-start;
      margin: 0 80px 0 0;
    }

    @include bp-699 {
      margin: 0 0 33px;
    }
  }

  &__item-socials:not(:last-child) {
    margin: 0 17px 0 0;
  }

  &__img-socials {
    fill: $iris-500;
  }

  &__list-contact {
    min-height: 48px;
    margin: 0 70px 0 0;

    @include bp-1279 {
      margin: 0 95px 0 0;
    }

    @include bp-929 {
      margin: 0;
    }

    @include bp-699 {
      margin: 0 0 33px;
    }
  }

  &__address {
    background-color: $iris-500;

    &-inner {
      @include font(12px, 16px, 500);
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 30px;
      color: $neutral-0;

      @include bp-929 {
        flex-direction: column;
        min-height: 46px;
        padding: 7px 0;
      }

      @include bp-699 {
        min-height: 94px;
        padding: 18px 0;
        text-align: center;
      }

      @include bp-399 {
        width: 100%;
        padding: 18px 9px;
      }
    }
  }
}
