.header {
  position: sticky;
  top: 0;
  z-index: 11;
  width: 100%;
  background-color: $neutral-0;
  box-shadow: 0 0 50px rgba(41, 43, 51, 0.1); // ?

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    margin: 0 auto;

    @include bp-699 {
      height: 48px;
    }
  }

  &__wrapper {
    @include bp-699 {
      height: 48px;
    }
  }

  &__logo {
    margin-right: 120px;
  }

  &__list {
    margin-right: 80px;

    @include bp-1023 {
      display: none;
    }
  }

  &__item {
    padding: 10px 10px 12px;
  }

  &__phone-btn {
    width: 186px;
    margin-left: auto;

    @include bp-1023 {
      display: none;
    }
  }
}
