@use "../.././../styles/core/breakpoints" as *;
@use "../.././../styles/core/colors" as *;
@use "../.././../styles/core/typography" as *;

.wrapper-box{
  width: 844px;
  max-height:  730px;
  display: flex;
  flex-direction: column;
  margin:24px 0 0 100px;
}
.wrapper-ul{
  width: 100%;
  max-height: max-content;
  border: 1px solid $neutral-50;
}

.item-title{
  padding: 23px  0 23px 40px;
  display: flex;
  align-items: center;
  position: relative;
  max-width: 70%;
}
.wrapper-list{
  width: 100%;
  display: flex;
  flex-direction: column;

}

.item-description{
  padding: 0 40px 32px 40px;
  width: 90%;
  display: none;
}


.item-button{
  position: absolute;
  left: 773px;
  top: 20px;
  cursor: pointer;;
}
