@use '../../../styles/core/colors' as *;
@use '../../../styles/core/typography' as *;
@use '../../../styles/core/breakpoints' as *;

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4; //такой индекс из-за анимации с листами бумаги
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;

  &__inner {
      border: none;
      min-height: 350px;
      border-radius: 0;
      background-color: $neutral-0;
  }

  &__btn-close {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 23px;
      height: 23px;
      padding: 0;
      border: 0;
      background: inherit;

      @include bp-399 {
          top: 28px;
          right: 28px;
      }
  }

  &__img-close {
      width: 23px;
      height: 23px;
  }

  &__nav-wrapper {
      padding: 60px 0 50px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      @include bp-399 {
          padding: 60px 0 40px;
      }
  }

  &__item {
      @include font(16px, 20px, 500);
      height: 60px;
      border-top: 1px solid $iris-200;
      padding: 20px 0;
      width: calc(100vw - 40px);

      @include bp-399 {
          height: 56px;
      }

      &:last-child {
          margin: 0 0 29px;
          border-bottom: 1px solid $iris-200;

          @include bp-399 {
              margin: 0 0 40px;
          }
      }
  }

  &__phone {
      width: 160px;
      height: 40px;
      padding: 11px 22px;
      border: 2px solid transparent;
      border-radius: 35px;
      outline: none;
      background-color: $iris-500;
      color: $neutral-0;
      @include font(12px, 17px, 700);

      &:focus,
      &:hover {
          border: 2px solid $neutral-0;
          color: $neutral-0;
      }

      &:active {
          color: $iris-200;
      }
  }

  &__btn-open {
      display: none;
      border: none;
      background: inherit;
      padding: 0;
      margin: 0 40px 0 0;

      @include bp-929 {
          display: block;
      }

      @include bp-699 {
          margin: 0 22px 0 0;
      }
  }
}

.header {
  box-shadow: 0px 0px 50px rgba(41, 43, 51, 0.1);
  position: sticky;
  top: 0;
  z-index: 11;
  background-color: $neutral-0;
  width: 100%;
  
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    max-width: 1440px;
    margin: 0 auto;

    @include bp-699 {
        height: 48px;
    }
  }

  &__logo {
    width: 83px;
    color: $iris-500;
    margin: 0 0 0 82px;
    @include font(14px, 18px, 500);

    &-img {
      @include bp-699 {
        width: 65px;
        height: 12px;
        display: block;
      }
    }

    @include bp-1059 {
      margin: 0 0 0 45px;
    }

    @include bp-699 {
      @include font(12px, 16px, 500);
      margin: 0 20px 0 19px;
    }
  }

  &__nav {
    @include bp-929 {
      display: none;
    }
  }

  &__list {
    display: flex;
  }

  &__item {
    @include font(16px, 20px, 500);

    @include bp-1059 {
      @include font(14px, 18px, 500);
    }
  }

  &__item:not(:last-child) {
    margin: 0 40px 0 0;

    @include bp-1059 {
      margin: 0 30px 0 0;
    }
  }

  &__link {
    position: relative;
    padding: 10px 0 10px;
    display: block;
    outline: none;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 0%;
      content: '.';
      color: transparent;
      background: $iris-500;
      height: 2px;
    }

    &:focus::after,
    &:hover::after {
      width: 100%;
    }

    &:focus,
    &:hover {
      color: $gray-blue-500;
    }

    &:active {
      color: $iris-500;
      transition: none;
    }

    &:active::after {
      width: 0%;
      transition: none;
    }

    &_active {
      color: $iris-500;

      &:focus,
      &:hover {
      color: $iris-500;
    }
    }
  }

  &__link,
  &__link::after {
      transition: all 500ms ease-in;
  }

  // &__phone {
  //   width: 210px;
  //   height: 100%;
  //   background: $iris-500;
  //   color: $neutral-0;
  //   @include font(16px, 19px, 600);
  //   padding: 20px 30px;
  //   border: 2px solid transparent;
  //   box-sizing: border-box;
  //   border-radius: 35px 0px 0px 35px;
  //   transition: border 100ms ease-in;
  //   outline: none;

  //   @include bp-929 {
  //     display: none;
  //   }

  //   &:focus,
  //   &:hover {
  //     color: $neutral-0;
  //     border: 2px solid $neutral-0;
  //     box-shadow: 0px 0px 20px rgba(41, 43, 51, 0.25);

  //     @include bp-1059 {
  //       width: 210px;
  //       border-radius: 30px 0px 0px 30px;
  //       padding: 20px 25px 20px 35px;
  //     }
  //   }

  //   &:active {
  //     border: 2px solid transparent;
  //     box-shadow: none;
  //     color: $iris-200;
  //   }
  // }
}
