.title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  background: #fff;
  border: 0;
  border-bottom: 2px solid $neutral-50;
  outline: 0;

  &__text {

    @include body-medium-14;
    margin-left: 40px;
    color: $gray-blue-300;
  }

  &::after {
    content: '';
    background-image: url('/images/Vector.svg');
    height: 10px;
    width: 19px;
    background-repeat: no-repeat;
    margin: 0;
    margin-left: 66%;
  }

  &.active::after {
    transform: rotate(-180deg);
  }

  &:hover::after,
  &:focus::after {
      height: 20px;
      width: 22px;
      background-color: rgba($iris-500, 0.2);
      border-radius: 100%;
    }
}

.wrapper-box{
  position: absolute;
  z-index: 1;
  width: 100%;
  &.active{
    width: 100%;
    min-height: 100%;
    background-color: rgba(58,56,56,.86);
  }
}

.h0{
  visibility: hidden;
}

.menu {
  @include body-medium-14;
  width: 100%;
  height: 42px;
  padding-bottom: 12px;
  margin-left: 40px;
  color: $gray-blue-300;
  list-style-type: none;
  background: $neutral-0;
}

