.title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  background: $neutral-0;
  border: hidden;
  border-bottom: 2px solid $neutral-50;
  outline: hidden;
  margin-bottom: 24px;

  &__text {

    @include body-medium-14;
    margin-left: 40px;
    color: $gray-blue-300;
  }

  &::after {
    content: '';
    background-image: url('/images/Vector.svg');
    height: 10px;
    width: 19px;
    background-repeat: no-repeat;
    margin: 0;
    margin-left: 66%;
  }

  &.active::after {
    transform: rotate(-180deg);
  }

  &:hover::after,
  &:focus::after {
      height: 20px;
      width: 22px;
      background-color: rgba($iris-500, 0.2);
      border-radius: 100%;
    }
}

.dark{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: $neutral-900;
  opacity: 0.5;
}
.wrapper-box{
  background-color: $neutral-0;
  position: absolute;
  z-index: 2;
  width: 100%;
}

.bg_none{
  position: absolute;
  z-index: 0;
  width: 100%;
}

.h0{
  visibility: hidden;
}

.open{
  width: 100%;
  margin-top: 24px;
  background-color: $neutral-0;
}

.menu {
  @include body-medium-14;
  height: 42px;
  padding-bottom: 12px;
  margin-left: 40px;
  color: $gray-blue-300;
  list-style-type: none;
  background:  $neutral-0;
}

