@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.long-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-bottom: 80px;

  @include bp-1279 {
    grid-gap: 16px;
    margin-bottom: 60px;
  }

  @include bp-1023 {
    grid-gap: 24px;
  }

  @include bp-743 {
    grid-template-columns: 100%;
    grid-gap: 10px;
    margin-bottom: 30px;
  }

  @include bp-479 {
    grid-gap: 20px;
    padding: 0 16px;
    margin-bottom: 50px;
  }

  &__card {
    @include hover-supported {
      &:hover .long-page__btn-hover,
      &:focus .long-page__btn-hover {
        display: flex;
      }
    }
  }

  &__btn-hover {
    display: none;
  }

  &__metro-wrapper {
    @include bp-743 {
      display: none;
    }

    @include bp-479 {
      display: block;
    }
  }

  &__subway {
    @include body-6;
  }
}
