@use 'src/app/styles/core/colors' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.flex-wrapper {
  display: flex;
  @include bp-1059 {
    flex-direction: column;
    width: 100%;
  }
}

.wrapper-box {
  display: flex;
  flex-direction: column;
  margin: 24px 0 0 100px;
  @include bp-1279 {
    max-width: 688px;
    margin: 24px 0 0 100px;
  }
  @include bp-1059 {
    margin: 0 auto 189px;
  }

  @include bp-359 {
    margin: 0 auto 318px;
  }
}

.doc-container {
  width: 90%;
  margin: 0 auto;

  @include bp-479 {
    width: 90%;
    margin-left: 16px;
  }
}
