.calculation-btn {
  @include body-regular-16;
  display: block;
  width: 332px;
  height: 64px;
  padding: 0;
  margin: 0 auto;
  font-weight: 600;
  color: $neutral-0;
  cursor: pointer;
  background: $iris-500;
  border: 0;
  border-radius: 35px;
  outline: none;
  transition: all 100ms ease;

  @include bp-929 {
    @include subtitle-bold-12;
    width: 214px;
    height: 48px;
    margin: 0 auto;
  }

  @include bp-699 {
    width: 280px;
  }

  &:focus,
  &:hover {
    border: 2px solid $neutral-0;
    box-shadow: 0 0 20px rgba(41, 43, 51, 0.2);
  }

  &:active {
    color: #bebff9;
    box-shadow: none;
  }

  &:disabled {
    color: $gray-blue-200;
    background-color: $neutral-50;
    border: 2px solid $gray-blue-100;
    box-shadow: none;
  }
}
