.wrapper {
  position: relative;
}

.content {
  display: flex;
  align-items: center;
  min-height: 80vh;
}

.key {
  position: absolute;
  margin: 0 35px 349px 280px;
  @include bp-1279 {
    margin: 0 35px 376px 219px;
  }
  @include bp-1023 {
    margin: 0 35px 85px 74px;
  }
  @include bp-743 {
    margin: 0 0 309px -16px;
  }
}

.error {
  // position: relative;
  // top:50%;
  grid-area: error;
  padding-top: 68px;
  margin: 0 auto;
  background-image: url('/images/notFoundPage/pagenotfouldBG.svg');
  background-repeat: no-repeat;
  background-position-x: 10px;
  @include bp-1023 {
    margin-top: 272px;
  }
  @include bp-743 {
    margin-top: 229px;
  }

  &-title {
    @include headline-5;
    margin: 16px 0 4px;
    color: $gray-blue-500;
  }

  &-description {
    @include body-3;
    max-width: 300px;
    color: $gray-blue-500;
    text-align: center;
  }
}

.tag {
  position: absolute;
  width: 98.92px;
  height: 96.75px;
  margin: 147px 0 0 830px;
  @include bp-1279 {
    margin: 1px 0 0 681px;
  }
  @include bp-1023 {
    margin: 232px 0 0 540px;
  }
  @include bp-743 {
    margin: 312px 0 0 380px;
  }
}

.button {
  @include body-4;
  grid-area: button;
  width: 170px;
  padding: 12px;
  margin: 92px auto;
  color: $neutral-900;
  border-radius: 40px;
}
