@use 'src/app/styles/core/colors' as *;
@use 'src/app/styles/core/typography' as *;

.container {
  display: flex;
  align-items: center;
}

.text-label-right {
  @include body-5;
  margin-left: 10px;
}

.text-label-left {
  @include body-5;
  margin-right: 10px;
}

.toggle {
  position: relative;
}

.checkbox {
  display: none;
}

.label {
  box-sizing: border-box;
  display: block;
  width: 40px;
  height: 20px;
  overflow: hidden;
  cursor: pointer;
  background-color: $gray-blue-50;
  border: 1px solid $gray-blue-400;
  border-radius: 40px;
  transition: background-color 0.2s;
}

.switch {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 16px;
  margin: 2px;
  background-color: $gray-blue-40;
  border-radius: 40px;
  transition: all 0.2s linear 0s;
}

.checkbox:checked + .label {
  background-color: $iris-900;
  border: 1px solid $iris-300;
}

.checkbox:checked + .label .switch {
  left: 20px;
  background-color: $iris-300;
}
