@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.item {
  @include body-4;

  &:not(:last-child) {
    margin: 0 0 4px;

    @include bp-1023 {
      margin: 0 0 20px;
    }
  }

  &:focus,
  &:hover {
    color: $iris-500;
  }

  &:active {
    color: $iris-700;
  }

  &:disabled {
    color: $gray-blue-300;
  }

  &__link {
    color: $iris-900;
  }
}
