@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.promo {
  position: relative;
  min-height: 500px;
  padding: 40px 0 70px 20px;
  margin-bottom: 60px;
  overflow: hidden;
  background-color: $gray-blue-50;

  &__slide {
    height: auto;

    &:hover,
    &:focus {
      box-shadow: $soft-003;
    }
  }

  &__title {
    @include headline-3;
    margin-bottom: 40px;

    @include bp-743 {
      @include headline-4;
      margin-bottom: 30px;
    }

    @include bp-479 {
      @include headline-4;
    }
  }

  &__wrapper {
    position: absolute;
    left: 50%;
    display: inline-block;
    transform: translateX(-50%);

    @include bp-1279 {
      left: 20px;
      transform: translateX(0);
    }
  }

  &__button-next,
  &__button-prev {
    position: absolute;
    top: 40%;
    z-index: 10;
    background: $iris-50;
    border-radius: 8px;
    transform: translateY(-50%);

    @include bp-1279 {
      display: none;
    }

    svg {
      stroke: $iris-400;
    }

    &:hover,
    &:focus {
      background: $iris-100;
    }

    &:active {
      background: $iris-50;
    }

    &:disabled {
      background: $gray-blue-50;
    }
  }

  &__button-next {
    right: -62px;
  }

  &__button-prev {
    left: -62px;
  }

  &__slider {
    width: 1070px;
    min-height: 500px;

    .swiper-wrapper {
      height: auto;
    }
  }
}
