/* stylelint-disable order/properties-order */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  outline: 0;
  transition: all 100ms ease;
}

.round {
  border-radius: 40px;
}

.grade-primary {
  color: $neutral-0;
  background-color: $orange-a500;

  &:hover,
  &:focus {
    color: $neutral-0;
    background-color: $orange-500;
  }

  &:active {
    color: $orange-300;
    background-color: $orange-a500;
  }

  &:disabled {
    color: $gray-blue-200;
    cursor: auto;
    background-color: $gray-blue-50;
  }
}

.grade-secondary {
  color: $neutral-0;
  background-color: $iris-900;

  &:hover,
  &:focus {
    color: $iris-200;
  }

  &:active {
    color: $iris-400;
  }

  &:disabled {
    color: $gray-blue-200;
    cursor: auto;
    background-color: $gray-blue-50;
  }
}

.grade-neutral {
  color: $neutral-900;
  background-color: $gray-blue-50;

  &:hover,
  &:focus {
    color: $neutral-900;
    background-color: $gray-blue-100;
  }

  &:active {
    color: $gray-blue-400;
    background-color: $gray-blue-200;
  }

  &:disabled {
    color: $gray-blue-200;
    cursor: auto;
    background-color: $gray-blue-50;
  }
}

.full-outlined {
  border: 2px solid $neutral-900;
  background-color: transparent;
  color: $neutral-900;

  &:hover,
  &:focus {
    background-color: $neutral-05;
    border: 1px solid $neutral-900;
    color: $neutral-900;
  }

  &:active {
    color: $gray-blue-600;
  }

  &:disabled {
    color: $gray-blue-300;
    border: 1px solid $gray-blue-300;
    background-color: $neutral-05;
  }
}

.full-text.grade-neutral {
  border: 0;
  background: none;

  &:hover,
  &:focus {
    background-color: $gray-blue-50;
    color: $neutral-900;
  }

  &:active {
    color: $gray-blue-500;
  }

  &:disabled {
    color: $gray-blue-300;
    background-color: transparent;
  }
}

.full-text.grade-accent {
  border: 0;
  background: none;
  color: $orange-a500;

  &:hover,
  &:focus {
    background-color: $orange-50;
    color: $orange-500;
  }

  &:active {
    color: $orange-a500;
    background-color: $orange-30;
  }

  &:disabled {
    cursor: auto;
    color: $gray-blue-300;
    background: none;
  }
}

// .grade-primary-full-filled {
//   color: $neutral-0;
//   background-color: $orange-a500;

//   &:hover,
//   &:focus {
//     color: $neutral-0;
//     background-color: $orange-500;
//   }

//   &:active {
//     color: $orange-300;
//     background-color: $orange-a500;
//   }

//   &:disabled {
//     color: $gray-blue-200;
//     cursor: auto;
//     background-color: $gray-blue-50;
//   }
// }

// .grade-secondary-full-filled {
//   color: $neutral-0;
//   background-color: $iris-900;

//   &:hover,
//   &:focus {
//     color: $iris-200;
//   }

//   &:active {
//     color: $iris-400;
//   }

//   &:disabled {
//     color: $gray-blue-200;
//     cursor: auto;
//     background-color: $gray-blue-50;
//   }
// }

// .grade-neutral-full-filled {
//   color: $neutral-900;
//   background-color: $gray-blue-50;

//   &:hover,
//   &:focus {
//     color: $neutral-900;
//     background-color: $gray-blue-100;
//   }

//   &:active {
//     color: $gray-blue-400;
//     background-color: $gray-blue-200;
//   }

//   &:disabled {
//     color: $gray-blue-200;
//     cursor: auto;
//     background-color: $gray-blue-50;
//   }
// }

.full-icon.height-56 {
  height: 56px;
  width: 56px;
}

.full-icon.height-48 {
  height: 48px;
  width: 48px;
}

.full-icon.height-44 {
  height: 44px;
  width: 44px;
}

.full-icon.height-40 {
  height: 40px;
  width: 40px;
}

// .grade-primary-full-stroke {}

// .grade-secondary-full-stroke {}

// .grade-neutral-full-stroke {}

.font-l {
  @include body-3;
}

.font-m {
  @include body-4;
}

.font-s {
  @include body-5;
}

.height-56 {
  height: 56px;
}

.height-48 {
  height: 48px;
}

.height-44 {
  height: 44px;
}

.height-40 {
  height: 40px;
}
