.modal {
  &__title {
    @include subtitle-2;

    @include bp-849 {
      margin: 0 0 15px;
    }
  }
}

.btn-close {
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: 0;

  @include bp-849 {
    display: none;
  }

  &:focus,
  &:hover {
    background-color: $iris-100;
    border-radius: 50%;
  }
}
