.title {
  @include headline5;
  position: relative;
  margin: 59px 0 0 100px;
  @include bp-1279 {
    width: 80%;
    width: 90%;
  }
  @include bp-1059 {
    margin: 0 auto;
    margin-top: 8%;
  }
  @include bp-767 {
    margin-top:11%;
  }

  &::after {
    position: absolute;
    top: -80%;
    left: 90%;
    width: 58px;
    height: 61px;
    content: '';
    background-image: url('/images/Pic-question.svg');
    @include bp-1059 {
      left: 87%;
    }

  }
}

.wrapper-box {
  display: flex;
  flex-direction: column;
  width: 844px;
  max-height: 730px;
  margin: 24px 0 0 100px;
  transition: all 500ms ease-in;
  @include bp-1279 {
    width: 84%;
    margin: 0 auto;
    margin-top: 24px;

  }
  @include bp-1059{
    margin-bottom: 18%;
  }
}
