@use 'src/app/styles/core/variables' as *;
@use 'src/app/styles/core/breakpoints' as *;
@use 'src/app/styles/core/typography' as *;

.card {
  @include body-5;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
  background: $neutral-0;
  border-radius: 8px;
  box-shadow: 0 0 2px $overlay;

  @include bp-1023 {
    flex-direction: column;
  }

  @include bp-743 {
    flex-direction: row;
  }

  @include bp-479 {
    flex-direction: column;
  }

  &--promo {
    flex-direction: column;
    width: 260px;
  }

  &--promo &__info--promo {
    padding: 8px 10px 20px;
  }

  &--promo &__deposit,
  &--promo &__details {
    margin-bottom: 4px;
  }

  &--promo &__subway,
  &--promo &__distance {
    @include body-6;
  }

  &--promo &__price {
    @include subtitle-3;
  }

  &__image {
    width: 260px;
    height: 147px;
  }

  &:hover,
  &:focus {
    color: inherit;
  }

  &__info {
    height: 100%;
    padding: 38px 16px 10px;

    @include bp-1023 {
      padding: 30px 10px 16px;
    }

    @include bp-743 {
      padding: 12px 10px 10px;
    }

    @include bp-479 {
      padding: 22px 10px 10px 16px;
    }
  }

  &__price {
    @include subtitle-2;
  }

  &__deposit {
    @include body-6;
    display: block;
    margin-bottom: 10px;

    @include bp-743 {
      margin-bottom: 8px;
    }
  }

  &__details {
    @include subtitle-2;
    margin: 0 0 8px;
  }

  &__location {
    margin: 0 0 2px;
  }

  &__subway {
    margin-right: 10px;
  }

  &__distance {
    @include body-6;
    display: inline-flex;
    align-items: center;

    &:not(:last-child) {
      margin: 0 10px 0 0;
    }
  }

  &__icon {
    margin-right: 2px;
  }

  &__favourite {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 5;
    padding: 6px 0;
  }
}
