.document {
  &__page {
    max-width: 688px;
    margin: 56px 140px 141px 0;

    @include bp-1279 {
      margin: 56px 42px 141px 0;
    }

    @include bp-1059 {
      max-width: 735px;
      margin: 24px auto 0;
    }

    @include bp-767 {
      margin: 24px 16px 0;
    }

    @include bp-359 {
      max-width: 89%;
      margin: 11px auto 0;
    }
  }
}
